.starter-template {
  padding: 3rem 1.5rem;
  text-align: center;
}

.margin-top-30 {
	margin-top: 30px;
}

.page-title {
	margin-top: 1.5rem;
	margin-bottom: 2.5rem;
}

.nav-form {
	margin-right: 40px;
}

.nav-form-btn {
	margin-left: 10px;
}

.clock {
	align-items: center;
	background-color: #B5D0E2;
	border: 2px solid #2099E8;
	border-radius: 50%;
	display:flex;
	height: 14rem;
	justify-content: center;
	margin:4rem auto;
	width:14rem;
}

.clock-text {
	color: white;
	font-size: 2.5rem;
	font-weight: 300;
}

.controls {
	display: flex;
	justify-content: center;
}

.controls > button {
	padding: .75rem 3rem;
}

.controls > button:first-child {
	margin-right: 1.5rem;
}

.page-title {
	margin:2rem 0;
	text-align: center;
}